<div class="job-listing-heading">
    <h1>Job Listings:</h1>
</div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Experince Required</h5>
            <h5 class="card-title">Skill Required</h5>
            <h5 class="card-title">Job Category</h5>
            <h5 class="card-title">Job Details</h5>
            <a href="#" class="btn btn-outline-success">Apply</a>
          </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Experince Required</h5>
                <h5 class="card-title">Skill Required</h5>
                <h5 class="card-title">Job Category</h5>
                <h5 class="card-title">Job Details</h5>
                <a href="#" class="btn btn-outline-success">Apply</a>
              </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Experince Required</h5>
                <h5 class="card-title">Skill Required</h5>
                <h5 class="card-title">Job Category</h5>
                <h5 class="card-title">Job Details</h5>
                <a href="#" class="btn btn-outline-success">Apply</a>
              </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Experince Required</h5>
                <h5 class="card-title">Skill Required</h5>
                <h5 class="card-title">Job Category</h5>
                <h5 class="card-title">Job Details</h5>
                <a href="#" class="btn btn-outline-success">Apply</a>
              </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Experince Required</h5>
                <h5 class="card-title">Skill Required</h5>
                <h5 class="card-title">Job Category</h5>
                <h5 class="card-title">Job Details</h5>
                <a href="#" class="btn btn-outline-success">Apply</a>
              </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Experince Required</h5>
                <h5 class="card-title">Skill Required</h5>
                <h5 class="card-title">Job Category</h5>
                <h5 class="card-title">Job Details</h5>
                <a href="#" class="btn btn-outline-success">Apply</a>
              </div>
        </div>
    </div>
  </div>