*{
    background-color: black;
    color: white;
}
h1, h2 {
    margin: auto;
    width: 90%;
    /* border-bottom: 1px solid gray; */
    padding: 3% 0;
    margin-top: 5%;
}
    
p{
    margin-left: 5%;
    width: 90%;
}