<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " href="/"><h3 class="bg-dark"><strong class="bg-dark">Work n' Hire</strong></h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-dark" id="navbarNavAltMarkup" style="margin-left: 55%;">
      <div class="navbar-nav bg-dark">
      <a class="nav-link" href="/clients">Clients</a>
      <a class="nav-link" href="/workers">Workers</a>
      <a class="nav-link" href="/listings">Listings</a>
      <a class="nav-link" href="/about">About</a>
      <!-- <a class="btn btn-outline-primary" href="/newclient" role="button" style="margin-right : 5px">New Client</a>
      <a class="btn btn-outline-primary" href="/newworker" role="button" style="margin-right : 5px">New Worker</a>
      <a class="btn btn-outline-primary" href="/newlisting" role="button" style="margin-right : 5px">New Listing</a> -->
      </div>
  </div>
</nav>