<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">

            <h1>About Us</h1>
            <h2>Our mission is simple: to help the world Love Mondays.</h2>
            <p>Each month, more than 7 million jobseekers turn to Work n' Hire in their search for work, making over
                160,000
                applications every day. Take a look around Work n' Hire and you'll find jobs across 42 industry
                specialisms, from
                thousands recruiters across Kenya and beyond. Home for Work n' Hire is Nairobi,Kenya.</p>

            <hr>

            <h2>More about Work n' Hire</h2>
            <p>Work n' Hire goal is to solve the fundamental employment challenge in Kenya which cuts across
                employer-employee
                quality and discovery. From internship coaching, career counselling, training to personalized job
                discovery, we are
                everything to the candidate. We made checking newspapers obsolete while going a step further to prepare
                candidates
                for the open jobs and workplace. Work n' Hire is a career company leveraging technology to solve human
                resources and
                education needs in Kenya; hence, increasing profitability from both personal and corporate perspectives.
            </p>

            <hr>

            <h2>Our Culture</h2>
            <p>Our mantra is love and excellence. We believe in loving the people we serve. We believe in solving
                problems out of
                love for humanity. Our passion is driven by the love we have for people and our projects. This is what
                keeps us
                going every morning. We cannot go wrong with excellence. Excellence in service delivery, user experience
                and content
                delivery are our selling points. Our daily task is just to get better.</p>

            <hr>

            <h2>Mission</h2>
            <p>To efficiently connect great candidates to great companies at all levels while constantly developing both
                ends of the
                marketplace in diverse functional areas.</p>

            <hr>

            <h2>Vision</h2>
            <p>Intelligently solve all career and human resource needs from end to end across sectors and platforms in
                Africa and
                the world at large.</p>

            <hr>

            <h2>Gender pay reporting</h2>
            <p>Gender pay reporting legislation requires employers with 250 or more employees to publish statutory
                calculations
                every year showing the pay gap between their male and female employees. The gender pay gap shows the
                difference in
                the average pay between all men and women in a workforce.
                It is important to distinguish this from Equal Pay, which deals with the pay differences between men and
                women who
                carry out the same jobs, similar jobs or work of equal value. It is unlawful to pay people unequally
                solely because
                of their gender.</p>

        </div>
    </div>
</div>