<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <hr>
            <h4>Please fill in this form to be enlisted in our employers' database</h4>
            <hr>
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" required>
                    </div>

                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="form-group form-check">
                    <label for="phoney">Enter your phone number</label>
                    <input type="text" class="form-control" id="phoney" placeholder="254******" required>
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>