<div style="text-align: center; margin-top: 2%;">
    <h4><strong>Workers</strong></h4>
    
    <div class="repos-class" style="margin-top: 2%;" >
    <div class="repo-card container">
        <div class="grid">
            <div *ngFor='let worker of workers'>
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"><strong><a href="/workers/{{ worker.id}}">{{ worker.name }}</a></strong></div>
                <div class="card-body">
                    <p class="card-title"><strong>Skill:</strong> {{ worker.skill }}</p>
                    <p class="card-text"><strong>Experience:</strong> {{ worker.experience }} years</p>
                    <p class="card-title"><strong>Email:</strong> {{ worker.email }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ worker.phone }}</p>
                </div>
                </div> 
            </div> 
        </div>
        </div>
    </div>
</div> 