<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="../../assets/images/people.jpg" alt="We're hiring board">
        </div>
        <div class="col" style="margin:6% 0 0 20%;">
            <div class="row">
                <a type="button" class="btn btn-outline-dark home-btn" href="/newclient">Hire</a>
            </div>
            <div class="row" style="margin-top: 20px;">
                <a type="button" class="btn btn-outline-dark home-btn" href="/newworker" >Work</a>
            </div>
            <div class="row" style="margin-top: 20px;">
                <a type="button" class="btn btn-outline-dark home-btn" href="/newlisting" >List</a>
            </div>
        </div>
    </div>
</div>
    