<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Work 'n Hire</h1>
            <img src="../../assets/images/hiring.jpg" alt="We're hiring board">
        </div>

        <div class="col">
            <button type="button" class="btn btn-dark"><a href="http://#hiring">Hire</a></button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-dark"><a href="http://#hiring">Work</a></button>
        </div>
    </div>
</div>