<section class="job-listing">
    <div class="heading">
        <h1>Create a Job Listing:</h1>
    </div>
      <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="about">
            <p>At Job Board, we are determined to decerease the rate of unemployment among the youth and increase their productivity in the society. We aim to connect qualified candidates with potetial employers by having such a platform where one can send their details and receive a notification when there's a job opening that might suit them.
              Want to link up with a potential employer soon?
              Register now and stand a chance to land your dearm job by Filling the form below..</p>
          </div>
      </div>
      <div class="col-8">
        <div class="content">
          <form class="form">
            <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">Job Details Id</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="jobdetail" placeholder="">
              </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Job Category</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="jobcategory" placeholder="">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="inputPhone" class="col-sm-3 col-form-label">Client Id</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="clientId" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPhone" class="col-sm-3 col-form-label">Skill Required</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="skills" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPhone" class="col-sm-3 col-form-label">Experince Required</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="experience" placeholder="">
                </div>
              </div>
          </form>
          <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
      </div>
      </div>
  </div>
  </section>